/*  Spindle : X  */
@mixin flexCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flexCenterStart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexCenterEnd {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}

@mixin flexAroundCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

@mixin flexBetweenStart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexBetweenCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

@mixin flexBetweenEnd {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

@mixin flexStart {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

@mixin flexStartCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexStartEnd {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
}

@mixin flexEndCenter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

@mixin flexStartWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@mixin flexAroundWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@mixin flexBetweenWrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*  Spindle : Y  */

@mixin flexCol {
  display: flex;
  flex-direction: column;
}

@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexColCenterStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

@mixin flexColCenterEnd {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

@mixin flexColAroundCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@mixin flexColStartCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@mixin flexColBetweenStart {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

@mixin flexColBetweenCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
